#console {
    display:block;
    padding:3px;
    background:#000;
    color:#0f0;
    font:10px monospace;
    min-height:50px;

  p {
      padding:3px 0;
      margin:0;
      border-bottom:1px dashed #262626;
  }
  .type {
    display:inline-block;
    width:6px;
    height:6px;
    margin-left:5px;
  }
  .type-log {
    background:#fff;
  }
  .type-info {
    background:#ff0;
  }
  .type-warn {
    background:#f60;
  }
  .type-error {
    background:#f00;
  }
  .log {
    margin:0 5px;
  }
  .obj-overview {
    display:inline-block;
    height: 10px;
    line-height: 12px;
    max-width:200px;
    overflow:hidden;
    word-break:break-all;
  }
  .obj-detail {
    display:none;
    background:#161616;
    margin:-15px 5px 5px 15px;
    padding:5px 5px 5px 5px;
    color:#fff;
    position:relative;
  }
  .obj-wrap {
    background:#161616;
  }
  .obj-wrap:hover .obj-detail {
    display:block;
  }
  .obj-start {
    color:#06f;
  }
  .obj-end {
    color:#06f;
  }
  .obj-item {
    margin:0 5px;
  }
  .obj-overview .obj-end {
    display:block;
  }
  .obj-detail .obj-start {
    display:block;
  }
  .obj-detail .obj-end {
    display:block;
  }
  .obj-detail .obj-item {
    display:block;
    margin:0 0 0 10px;
  }
  .obj-k {
  }
  .obj-v {
    color:#0f0;
  }

}
