.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

node_modules/
bower_components/
.sass-cache/
.statictmp

js/**/Gruntfile.js
js/vendor/
js/galleryapp/tpl/
css/**/Gruntfile.js
css/moui/
css/cardkit/
css/cardkit.scss
css/prism/
tpl/cardkit/
config.js
origin/
dist/
target/
public/
report/
