.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

node_modules/
bower_components/
.sass-cache/
.statictmp

js/**/Gruntfile.js
js/vendor/
css/**/Gruntfile.js
css/moui/
css/cardkit/
css/cardkit.scss
css/syntaxhighlighter/
tpl/cardkit/
config.js
dist/
target/
public/
report/

js/vendor/cardkit/tpl/
