
//TODO: change the following variable to your project directory

module.exports = {
    pubDir: 'public',
    //staticDir: 'public/static',
    jsStaticDir: 'public/static/js',
    cssStaticDir: 'public/static/css',
    assetStaticDir: 'public/static/pics'
};

