/*! galleryapp - v */
.my-navdrawer-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #242424;
}

.my-navdrawer {
  position: relative;
}
.my-navdrawer > header {
  position: relative;
  height: 40px;
  background: #242424;
  -moz-box-shadow: 1px 6px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 6px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 6px 10px rgba(0, 0, 0, 0.5);
}
.my-navdrawer .my-nav-wrap {
  background: #323232;
}
.my-navdrawer .my-nav-content {
  min-height: 100px;
}
.my-navdrawer .my-footer {
  background: none;
  display: block;
}

.my-navdrawer > header h2 {
  display: inline-block;
  padding: 8px 23px;
  font-size: 15px;
  color: #fff;
  font-weight: bold;
}
.my-navdrawer .search {
  background: #242424;
  border-bottom: 1px solid #424242;
}
.my-navdrawer .search a {
  display: block;
  height: 42.5px;
  line-height: 42.5px;
  padding: 0 25px;
  color: #525252;
  font-size: 13px;
  -webkit-box-shadow: inset 0 -1px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: inset 0 -1px 3px rgba(0, 0, 0, 0.35);
  box-shadow: inset 0 -1px 3px rgba(0, 0, 0, 0.35);
}
.my-navdrawer h6 {
  background: #3b3b3b;
  color: #919191;
  padding: 5px 25px;
  font-size: 11px;
  line-height: 13px;
}
.my-navdrawer li {
  border-top: 1px solid #414141;
  border-bottom: 1px solid #292929;
  background: #323232;
  padding: 2px;
}
.my-navdrawer li a {
  display: block;
  padding: 8px 23px;
  font-size: 13px;
  color: #fff;
  font-weight: bold;
}
.my-navdrawer li:first-child {
  border-top: 0;
}
.my-navdrawer li:last-child {
  border-bottom: 0;
}
