html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

.moui-segment .option, .moui-actionview > footer .cancel,
.moui-actionview > footer .confirm, .moui-modalview .wrapper > header button.confirm, .moui-modalview .wrapper > header button.cancel, .moui-switch, .moui-switch .block, .moui-switch .enable-text,
.moui-switch .disable-text, .moui-select {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-decoration: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: none;
  border: none;
  text-align: center;
  cursor: pointer;
  outline: none;
}

.moui-segment .option, .moui-actionview > footer .cancel,
.moui-actionview > footer .confirm, .moui-modalview .wrapper > header button.confirm, .moui-modalview .wrapper > header button.cancel, .moui-switch, .moui-switch .block, .moui-switch .enable-text,
.moui-switch .disable-text, .moui-select {
  width: 80px;
  height: 29px;
  background-color: #ececec;
  background-image: -moz-linear-gradient(bottom, #e2e2e2, #ececec);
  background-image: -o-linear-gradient(bottom, #e2e2e2, #ececec);
  background-image: -webkit-linear-gradient(bottom, #e2e2e2, #ececec);
  background-image: linear-gradient(to top, #e2e2e2, #ececec);
  border: solid 1px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0 1px 0px white;
  -webkit-box-shadow: inset 0 1px 0px white;
  box-shadow: inset 0 1px 0px white;
  line-height: 29px;
  font-size: 15px;
  font-weight: bold;
  color: #252525;
  text-shadow: 0 1px 1px white;
}

.moui-segment .option:active, .moui-actionview > footer .cancel:active,
.moui-actionview > footer .confirm:active, .moui-modalview .wrapper > header button.confirm:active, .moui-modalview .wrapper > header button.cancel:active, .moui-switch .enable-text,
.moui-switch .disable-text, .moui-segment .enabled.option {
  border-color: #b2b2b2;
  -moz-box-shadow: inset 0 1px 1px rgba(115, 115, 115, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(115, 115, 115, 0.8);
  box-shadow: inset 0 1px 1px rgba(115, 115, 115, 0.8);
  background-color: #dbdbdb;
  background-image: -moz-linear-gradient(bottom, #dbdbdb, #cdcdcd);
  background-image: -o-linear-gradient(bottom, #dbdbdb, #cdcdcd);
  background-image: -webkit-linear-gradient(bottom, #dbdbdb, #cdcdcd);
  background-image: linear-gradient(to top, #dbdbdb, #cdcdcd);
}

.moui-segment [data-is-default="true"].option, .moui-actionview > footer [data-is-default="true"].cancel,
.moui-actionview > footer [data-is-default="true"].confirm, .moui-modalview .wrapper > header button[data-is-default="true"].confirm, .moui-modalview .wrapper > header button[data-is-default="true"].cancel, .moui-switch .enable-text {
  border-color: rgba(0, 19, 79, 0.85);
  -moz-box-shadow: inset 0 1px 0px #429bff;
  -webkit-box-shadow: inset 0 1px 0px #429bff;
  box-shadow: inset 0 1px 0px #429bff;
  background-color: #005fbf;
  background-image: -moz-linear-gradient(bottom, #005fbf, #006ae1);
  background-image: -o-linear-gradient(bottom, #005fbf, #006ae1);
  background-image: -webkit-linear-gradient(bottom, #005fbf, #006ae1);
  background-image: linear-gradient(to top, #005fbf, #006ae1);
  color: #fff;
  text-shadow: 0 1px 1px black;
}

.moui-segment [data-is-default="true"].option:active, .moui-actionview > footer [data-is-default="true"].cancel:active,
.moui-actionview > footer [data-is-default="true"].confirm:active, .moui-modalview .wrapper > header button[data-is-default="true"].confirm:active, .moui-modalview .wrapper > header button[data-is-default="true"].cancel:active, .moui-switch .enable-text {
  -moz-box-shadow: inset 0 1px 1px #024879;
  -webkit-box-shadow: inset 0 1px 1px #024879;
  box-shadow: inset 0 1px 1px #024879;
  background-color: #0077d6;
  background-image: -moz-linear-gradient(bottom, #0077d6, #0068d6);
  background-image: -o-linear-gradient(bottom, #0077d6, #0068d6);
  background-image: -webkit-linear-gradient(bottom, #0077d6, #0068d6);
  background-image: linear-gradient(to top, #0077d6, #0068d6);
}

.moui-segment [data-is-danger="true"].option, .moui-actionview > footer [data-is-danger="true"].cancel,
.moui-actionview > footer [data-is-danger="true"].confirm, .moui-modalview .wrapper > header button[data-is-danger="true"].confirm, .moui-modalview .wrapper > header button[data-is-danger="true"].cancel {
  border-color: rgba(60, 0, 0, 0.85);
  -moz-box-shadow: inset 0 1px 0px #ff5c5c;
  -webkit-box-shadow: inset 0 1px 0px #ff5c5c;
  box-shadow: inset 0 1px 0px #ff5c5c;
  background-color: #d50000;
  background-image: -moz-linear-gradient(bottom, #d50000, #ee0000);
  background-image: -o-linear-gradient(bottom, #d50000, #ee0000);
  background-image: -webkit-linear-gradient(bottom, #d50000, #ee0000);
  background-image: linear-gradient(to top, #d50000, #ee0000);
  color: #fff;
  text-shadow: 0 1px 1px black;
}

.moui-segment [data-is-danger="true"].option:active, .moui-actionview > footer [data-is-danger="true"].cancel:active,
.moui-actionview > footer [data-is-danger="true"].confirm:active, .moui-modalview .wrapper > header button[data-is-danger="true"].confirm:active, .moui-modalview .wrapper > header button[data-is-danger="true"].cancel:active {
  -moz-box-shadow: inset 0 1px 1px #024879;
  -webkit-box-shadow: inset 0 1px 1px #024879;
  box-shadow: inset 0 1px 1px #024879;
  background-color: #0077d6;
  background-image: -moz-linear-gradient(bottom, #c50800, #b20600);
  background-image: -o-linear-gradient(bottom, #c50800, #b20600);
  background-image: -webkit-linear-gradient(bottom, #c50800, #b20600);
  background-image: linear-gradient(to top, #c50800, #b20600);
}

.moui-segment .option, .moui-actionview > footer .cancel,
.moui-actionview > footer .confirm, .moui-modalview .wrapper > header button.confirm, .moui-modalview .wrapper > header button.cancel {
  margin: 0 7px 0 0;
  white-space: nowrap;
}
.moui-segment .option:last-child, .moui-actionview > footer .cancel:last-child,
.moui-actionview > footer .confirm:last-child, .moui-modalview .wrapper > header button.confirm:last-child, .moui-modalview .wrapper > header button.cancel:last-child {
  margin-right: 0;
}
.moui-segment [data-fluid="true"].option, .moui-actionview > footer [data-fluid="true"].cancel,
.moui-actionview > footer [data-fluid="true"].confirm, .moui-modalview .wrapper > header button[data-fluid="true"].confirm, .moui-modalview .wrapper > header button[data-fluid="true"].cancel {
  width: auto;
  padding: 0 10px;
}
.moui-segment [data-style="big"].option, .moui-actionview > footer [data-style="big"].cancel,
.moui-actionview > footer [data-style="big"].confirm, .moui-modalview .wrapper > header button[data-style="big"].confirm, .moui-modalview .wrapper > header button[data-style="big"].cancel {
  height: 39px;
  line-height: 39px;
}
.moui-segment [disabled].option, .moui-actionview > footer [disabled].cancel,
.moui-actionview > footer [disabled].confirm, .moui-modalview .wrapper > header button[disabled].confirm, .moui-modalview .wrapper > header button[disabled].cancel {
  color: #a1a1a1;
}
.moui-segment .option:active span, .moui-actionview > footer .cancel:active span,
.moui-actionview > footer .confirm:active span, .moui-modalview .wrapper > header button.confirm:active span, .moui-modalview .wrapper > header button.cancel:active span {
  position: relative;
  top: 1px;
}

.moui-folder > header, .moui-select {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAALAQMAAABFxz8AAAAABlBMVEX///+bm5tR7J1yAAAAAXRSTlMAQObYZgAAADJJREFUCB0FwTERABAAAMB3BpsEQhjFEUEEQYQRRQSj0b+tOobhaGErccqJlImL8HDRfc8xCDsaQayFAAAAAElFTkSuQmCC');
  background-repeat: no-repeat;
}

.moui-folder.enabled > header {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAALAQMAAABFxz8AAAAABlBMVEX///+ampo+MvaSAAAAAXRSTlMAQObYZgAAADJJREFUCB0FwTERABAAAMB3BpsEQhjFEUEEQYQRRQSj0T8dl/CIi5TJiRKnFrbhOIatfpqZCDvYMKlxAAAAAElFTkSuQmCC');
  background-repeat: no-repeat;
}

.moui-switch {
  border: 0;
  position: relative;
  width: 75px;
  text-align: left;
}
.moui-switch .block {
  width: 39px;
  position: absolute;
  top: 0;
  left: 0;
  -moz-transition: left 0.1s ease-in;
  -o-transition: left 0.1s ease-in;
  -webkit-transition: left 0.1s ease-in;
  transition: left 0.1s ease-in;
}
.moui-switch .enable-text,
.moui-switch .disable-text {
  width: 36px;
  position: absolute;
  right: 0;
  top: 0;
  font-weight: normal;
}
.moui-switch .enable-text {
  right: auto;
  left: 0;
}
.moui-switch.enabled .block {
  left: 33px;
}

.moui-folder {
  display: block;
}
.moui-folder > header {
  display: inline-block;
  background-position: left center;
  background-size: 10px;
  font-size: 15px;
  padding: 0 0 0 20px;
  margin: 0;
}
.moui-folder > .content {
  display: none;
}
.moui-folder.enabled > .content {
  display: block;
}

.moui-segment {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.moui-segment .option {
  width: 75px;
  margin: 0 4px 0 0;
}

.moui-tagselector {
  overflow: hidden;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.moui-tagselector .option {
  border: 1px solid #dadada;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #f2f2f2;
  color: #252525;
  display: inline-block;
  line-height: 18px;
  padding: 5px 7px;
  margin: 4px;
  float: left;
  -webkit-tap-highlight-color: transparent;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.moui-tagselector .option a {
  display: inline-block;
  float: left;
  color: #252525;
  text-decoration: none;
  width: 100%;
}
.moui-tagselector .enabled.option {
  background: #3276AF;
  border-color: #3276AF;
  -moz-box-shadow: 0px 1px 0px 0px white;
  -webkit-box-shadow: 0px 1px 0px 0px white;
  box-shadow: 0px 1px 0px 0px white;
  color: #fff;
}
.moui-tagselector .enabled.option a {
  color: #fff;
}

.moui-actions {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.moui-actions li {
  border-bottom: 1px solid #000;
  opacity: 0.8;
}
.moui-actions li a {
  display: inline-block;
  background: #333;
  color: #fff;
  font-size: 13px;
  width: 100%;
  padding: 5px 0;
  text-align: center;
}
.moui-actions li a:active, .moui-actions li a.enabled {
  background: #666;
}
.moui-actions li:last-child {
  border: none;
}

.moui-slider {
  position: relative;
  display: inline-block;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.moui-slider .slider-field {
  display: none;
}
.moui-slider .slider-selected,
.moui-slider .slider-hover {
  display: none;
  position: absolute;
  left: 0;
}

.moui-select {
  background-position: right center;
  background-origin: content-box;
  background-size: 10px;
  padding: 0 5px 0 0;
}
.moui-select button.enabled,
.moui-select span {
  -moz-appearance: none;
  -webkit-appearance: none;
  display: block;
  height: 100%;
  text-align: left;
  background: #fff;
  padding: 0 7.5px;
  margin: 0 15px 0 0;
  border: none;
  border-right: 1px solid #B2B2B2;
  font-size: 13px;
  font-weight: normal;
}
.moui-select[data-fluid="true"] {
  width: auto;
}
.moui-select:active {
  border-color: #b2b2b2;
  -moz-box-shadow: inset 0 1px 1px rgba(115, 115, 115, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(115, 115, 115, 0.8);
  box-shadow: inset 0 1px 1px rgba(115, 115, 115, 0.8);
  background-color: #dbdbdb;
}
.moui-select:active button.enabled,
.moui-select:active span {
  -moz-box-shadow: inset 0 1px 2px rgba(115, 115, 115, 0.8);
  -webkit-box-shadow: inset 0 1px 2px rgba(115, 115, 115, 0.8);
  box-shadow: inset 0 1px 2px rgba(115, 115, 115, 0.8);
}

.moui-actionview {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1020;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.moui-actionview .wrapper {
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  opacity: 0;
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  -moz-transition-property: -moz-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  -webkit-transition-property: -webkit-transform, opacity;
  transition-property: transform, opacity;
  -moz-transition-duration: 0.3s, 0.2s;
  -o-transition-duration: 0.3s, 0.2s;
  -webkit-transition-duration: 0.3s, 0.2s;
  transition-duration: 0.3s, 0.2s;
  -moz-transition-delay: 0.1s, 0.1s;
  -o-transition-delay: 0.1s, 0.1s;
  -webkit-transition-delay: 0.1s, 0.1s;
  transition-delay: 0.1s, 0.1s;
}
.moui-actionview .wrapper .content {
  padding: 25px 0 25px 0;
  overflow: hidden;
  position: relative;
}
.moui-actionview .wrapper .content > header {
  padding: 0 25px;
}
.moui-actionview .wrapper .content > header h1 {
  padding: 0 0 10px 0;
  font-size: 20px;
  height: 20px;
  line-height: 20px;
  display: block;
  color: #fff;
  border-bottom: 1px solid #666;
}
.moui-actionview .wrapper .content > header h1:empty {
  border: none;
  padding: 0;
}
.moui-actionview .wrapper .content > .desc {
  color: #fff;
  padding: 25px;
  font-size: 15px;
}
.moui-actionview .wrapper .content > article {
  position: absolute;
  bottom: 154px;
  left: 25px;
  right: 25px;
  background: #343434;
  border: solid 1px #141414;
  padding: 0 18px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0px 1px 0px #494949;
  -webkit-box-shadow: inset 0px 1px 0px #494949;
  box-shadow: inset 0px 1px 0px #494949;
}
.moui-actionview .wrapper .content > article:empty {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  background: none;
}
body.no-cardscroll .moui-actionview .wrapper {
  -webkit-overflow-scrolling: auto;
}
.moui-actionview > footer {
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 1px solid #000;
  background: rgba(13, 13, 13, 0.95);
  -moz-box-shadow: inset 0px 1px 0px #212121;
  -webkit-box-shadow: inset 0px 1px 0px #212121;
  box-shadow: inset 0px 1px 0px #212121;
  width: 100%;
  height: 79px;
  overflow: hidden;
  text-align: center;
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
.moui-actionview > footer .cancel,
.moui-actionview > footer .confirm {
  line-height: 39px;
  height: 39px;
  width: auto;
  position: absolute;
  left: 25px;
  right: 25px;
  top: 20px;
  margin: 0;
}
.moui-actionview > footer .confirm {
  display: none;
}
.moui-actionview > footer .cancel {
  border-color: #101010;
  background: #343434;
  -moz-box-shadow: inset 0 1px 0px #494949;
  -webkit-box-shadow: inset 0 1px 0px #494949;
  box-shadow: inset 0 1px 0px #494949;
  color: #fff;
  text-shadow: 0 1px 1px black;
}
.moui-actionview > footer .cancel:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.moui-actionview > footer.multi .confirm {
  display: inline-block;
  left: 50%;
  margin: 0 0 0 6.25px;
}
.moui-actionview > footer.multi .cancel {
  right: 50%;
  margin: 0 6.25px 0 0;
}
.moui-actionview .shd {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(13, 13, 13, 0.95);
  opacity: 0;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.moui-actionview.confirm-kind .content header {
  padding-top: 30%;
}
.moui-actionview.rendered {
  display: block;
}
.moui-actionview.active .shd {
  opacity: 1;
}
.moui-actionview.active .wrapper {
  opacity: 1;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.moui-actionview.active > footer {
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.moui-actionview .wrapper .content > article .option {
  display: block;
  box-sizing: content-box;
  width: 100%;
  color: #fff;
  background: none;
  font-size: 15px;
  font-weight: normal;
  padding: 10px 0;
  margin: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;
  border-top: solid 1px #3e3e3e;
  border-bottom: solid 1px #282828;
  text-align: center;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}
.moui-actionview .wrapper .content > article .option:active, .moui-actionview .wrapper .content > article .enabled.option {
  color: #006ae2;
}
.moui-actionview .wrapper .content > article .option:first-child {
  border-top: none;
}
.moui-actionview .wrapper .content > article .option:last-child {
  border-bottom: none;
}

.moui-modalview {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1010;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.moui-modalview .wrapper {
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -moz-transition: -moz-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
}
.moui-modalview .wrapper > header {
  height: 42.5px;
  background: #dfdfdf;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  z-index: 10;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px;
  border-radius: 3px 3px 0 0;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.moui-modalview .wrapper > header h1 {
  font-size: 20px;
  line-height: 42.5px;
  text-align: center;
  display: block;
  margin: 0 70px;
}
.moui-modalview .wrapper > header button.confirm, .moui-modalview .wrapper > header button.cancel {
  width: 55px;
  margin: 7.5px 0 0 7.5px;
  float: left;
}
.moui-modalview .wrapper > header button.confirm {
  margin: 7.5px 7.5px 0 0;
  float: right;
}
.moui-modalview .wrapper > article {
  height: 1000px;
  background: #f2f2f2;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.moui-modalview .wrapper > article > .content {
  padding: 42.5px 0 0 0;
  min-height: 2000px;
}
.moui-modalview .shd {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.moui-modalview.rendered {
  display: block;
}
.moui-modalview.active .wrapper {
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.moui-modalview.loading button.confirm {
  opacity: .2;
}
.moui-modalview.loading .wrapper > article > .content {
  opacity: 0;
}

.moui-growl {
  display: none;
  position: fixed;
  top: 50%;
  left: 30px;
  right: 30px;
  z-index: 1050;
  margin-top: -20px;
  padding: 14px;
  background: rgba(13, 13, 13, 0.95);
  opacity: 0;
  color: #fff;
  font-size: 20px;
  text-align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.moui-growl.corner-center {
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -moz-transition: -moz-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: -o-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.moui-growl.corner-bottom {
  top: auto;
  bottom: -40px;
  font-size: 13px;
  -moz-transition: bottom 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: bottom 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: bottom 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: bottom 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.moui-growl.corner-stick {
  font-size: 13px;
  padding: 5px 10px;
  margin: 0;
  position: absolute;
  left: 40px;
  right: 40px;
  top: -10px;
  -moz-transition: top 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: top 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: top 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: top 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.moui-growl.rendered {
  display: block;
}
.moui-growl.active {
  opacity: 1;
}
.moui-growl.active.corner-center {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
.moui-growl.active.corner-bottom {
  bottom: 10px;
}
.moui-growl.active.corner-stick {
  top: -35px;
}

pre {
  word-wrap: break-word;
}

a {
  text-decoration: none;
  color: #006ae2;
  -webkit-tap-highlight-color: rgba(0, 119, 220, 0.2);
}

.ck-link {
  -webkit-touch-callout: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.ck-page-card {
  display: none;
  background: #f2f2f2;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font: 11px Helvetica, sans-serif;
  color: #252525;
  line-height: 1.6;
}

.ck-page-card[dd-autogen="true"] {
  display: block;
}

.ck-box-card:not([data-cfg-paper="true"]), .ck-list-card:not([data-cfg-paper="true"]):not([data-style="split"]), .ck-form-card, .ck-blank-card {
  margin: 10px;
}

.ck-box-card:not([data-cfg-paper="true"]) .ck-card-wrap, .ck-list-card:not([data-cfg-paper="true"]):not([data-style="split"]) .ck-card-wrap, .ck-form-card .ck-card-wrap, .ck-blank-card .ck-card-wrap, .ck-list-card[data-style="split"] .ck-item, .ck-mini-card[data-style="slide"] .ck-item {
  background-color: #fff;
  border: 1px solid white;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.2);
  word-wrap: break-word;
}

.ck-box-card:not([data-cfg-paper="true"]), .ck-list-card:not([data-cfg-paper="true"]):not([data-style="split"]), .ck-list-card[data-style="split"], .ck-mini-card[data-style="slide"], .ck-form-card, .ck-blank-card {
  word-wrap: break-word;
}
.ck-box-card:not([data-cfg-paper="true"]) .ck-hd-wrap, .ck-list-card:not([data-cfg-paper="true"]):not([data-style="split"]) .ck-hd-wrap, .ck-list-card[data-style="split"] .ck-hd-wrap, .ck-mini-card[data-style="slide"] .ck-hd-wrap, .ck-form-card .ck-hd-wrap, .ck-blank-card .ck-hd-wrap {
  position: relative;
}
.ck-box-card:not([data-cfg-paper="true"]) .ck-hd-wrap .ck-hd, .ck-list-card:not([data-cfg-paper="true"]):not([data-style="split"]) .ck-hd-wrap .ck-hd, .ck-list-card[data-style="split"] .ck-hd-wrap .ck-hd, .ck-mini-card[data-style="slide"] .ck-hd-wrap .ck-hd, .ck-form-card .ck-hd-wrap .ck-hd, .ck-blank-card .ck-hd-wrap .ck-hd {
  padding: 5px 0;
  font-size: 15px;
  font-weight: bold;
  color: #252525;
  display: block;
}
.ck-box-card:not([data-cfg-paper="true"]) .ck-hd-wrap .ck-hd.clickable, .ck-list-card:not([data-cfg-paper="true"]):not([data-style="split"]) .ck-hd-wrap .ck-hd.clickable, .ck-list-card[data-style="split"] .ck-hd-wrap .ck-hd.clickable, .ck-mini-card[data-style="slide"] .ck-hd-wrap .ck-hd.clickable, .ck-form-card .ck-hd-wrap .ck-hd.clickable, .ck-blank-card .ck-hd-wrap .ck-hd.clickable {
  position: relative;
}
.ck-box-card:not([data-cfg-paper="true"]) .ck-card-wrap > footer, .ck-list-card:not([data-cfg-paper="true"]):not([data-style="split"]) .ck-card-wrap > footer, .ck-list-card[data-style="split"] .ck-card-wrap > footer, .ck-mini-card[data-style="slide"] .ck-card-wrap > footer, .ck-form-card .ck-card-wrap > footer, .ck-blank-card .ck-card-wrap > footer {
  border-top: 1px solid #efefef;
  margin: 0 15px;
  padding: 10px 0;
}

.ck-box-card:not([data-cfg-paper="true"]) .ck-hd-wrap, .ck-list-card:not([data-cfg-paper="true"]):not([data-style="split"]) .ck-hd-wrap, .ck-list-card[data-style="split"] .ck-hd-wrap, .ck-mini-card[data-style="slide"] .ck-hd-wrap, .ck-form-card .ck-hd-wrap, .ck-blank-card .ck-hd-wrap, .ck-list-card:not([data-cfg-paper="true"]):not([data-style="split"]) .ck-item, .ck-list-card[data-style="split"] .ck-initem, .ck-mini-card[data-style="slide"] .ck-initem, .ck-form-card .ck-item, .ck-blank-card .ck-card-wrap > div {
  border-bottom: 1px solid #efefef;
  margin: 0 15px;
  padding: 5px 0;
}

.ck-box-card:not([data-cfg-paper="true"]) .ck-hd-wrap .ck-hd.clickable, .ck-list-card:not([data-cfg-paper="true"]):not([data-style="split"]) .ck-hd-wrap .ck-hd.clickable, .ck-list-card[data-style="split"] .ck-hd-wrap .ck-hd.clickable, .ck-mini-card[data-style="slide"] .ck-hd-wrap .ck-hd.clickable, .ck-form-card .ck-hd-wrap .ck-hd.clickable, .ck-blank-card .ck-hd-wrap .ck-hd.clickable, .ck-list-card[data-style="more"] .clickable .ck-initem {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAUAQMAAABh4lUrAAAABlBMVEX///+ZmZmOUEqyAAAAAXRSTlMAQObYZgAAADBJREFUCB0FwUERACAIALB5PPyZwCDEIoLRiEIUN81QJJfDJp7VDGO1eDaHS1IM7QMVdAk7tmZXTwAAAABJRU5ErkJggg==');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 5.5px 10px;
}

.ck-box-card:not([data-cfg-paper="true"]) .ck-card-wrap > footer, .ck-list-card:not([data-cfg-paper="true"]):not([data-style="split"]) .ck-card-wrap > footer, .ck-list-card[data-style="split"] .ck-card-wrap > footer, .ck-mini-card[data-style="slide"] .ck-card-wrap > footer, .ck-form-card .ck-card-wrap > footer, .ck-blank-card .ck-card-wrap > footer, .ck-list-card .ck-author-info-wrap, .ck-mini-card .ck-author-info-wrap,
.ck-list-card .ck-info-wrap,
.ck-mini-card .ck-info-wrap, .ck-list-card .ck-desc-wrap, .ck-mini-card .ck-desc-wrap,
.ck-list-card .ck-author-desc-wrap,
.ck-mini-card .ck-author-desc-wrap, .ck-list-card .ck-meta-wrap, .ck-mini-card .ck-meta-wrap,
.ck-list-card .ck-author-meta-wrap,
.ck-mini-card .ck-author-meta-wrap {
  font-size: 11px;
  color: #8e8e8e;
}

[data-cfg-plainhd="true"].ck-box-card:not([data-cfg-paper="true"]) .ck-hd-wrap, [data-cfg-plainhd="true"].ck-list-card:not([data-cfg-paper="true"]):not([data-style="split"]) .ck-hd-wrap, [data-cfg-plainhd="true"].ck-form-card .ck-hd-wrap, [data-cfg-plainhd="true"].ck-blank-card .ck-hd-wrap, .ck-list-card[data-style="split"] .ck-hd-wrap, .ck-mini-card[data-style="slide"] .ck-hd-wrap {
  padding: 0;
  margin: 10px 0;
  border: none;
}
[data-cfg-plainhd="true"].ck-box-card:not([data-cfg-paper="true"]) .ck-hd-wrap .ck-hd, [data-cfg-plainhd="true"].ck-list-card:not([data-cfg-paper="true"]):not([data-style="split"]) .ck-hd-wrap .ck-hd, [data-cfg-plainhd="true"].ck-form-card .ck-hd-wrap .ck-hd, [data-cfg-plainhd="true"].ck-blank-card .ck-hd-wrap .ck-hd, .ck-list-card[data-style="split"] .ck-hd-wrap .ck-hd, .ck-mini-card[data-style="slide"] .ck-hd-wrap .ck-hd {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}
body.no-overflowscroll [data-cfg-plainhd="true"].ck-box-card:not([data-cfg-paper="true"]) .ck-hd-wrap .ck-hd, body.no-overflowscroll [data-cfg-plainhd="true"].ck-list-card:not([data-cfg-paper="true"]):not([data-style="split"]) .ck-hd-wrap .ck-hd, body.no-overflowscroll [data-cfg-plainhd="true"].ck-form-card .ck-hd-wrap .ck-hd, body.no-overflowscroll [data-cfg-plainhd="true"].ck-blank-card .ck-hd-wrap .ck-hd, body.no-overflowscroll .ck-list-card[data-style="split"] .ck-hd-wrap .ck-hd, body.no-overflowscroll .ck-mini-card[data-style="slide"] .ck-hd-wrap .ck-hd {
  -webkit-overflow-scrolling: auto;
  overflow: visible;
}
[data-cfg-plainhd="true"].ck-box-card:not([data-cfg-paper="true"]) .ck-card-wrap > section, [data-cfg-plainhd="true"].ck-list-card:not([data-cfg-paper="true"]):not([data-style="split"]) .ck-card-wrap > section, [data-cfg-plainhd="true"].ck-form-card .ck-card-wrap > section, [data-cfg-plainhd="true"].ck-blank-card .ck-card-wrap > section, .ck-list-card[data-style="split"] .ck-card-wrap > section, .ck-mini-card[data-style="slide"] .ck-card-wrap > section {
  border-top: none;
}

[data-cfg-plainhd="true"].ck-box-card:not([data-cfg-paper="true"]) .ck-hd-wrap .ck-hd, [data-cfg-plainhd="true"].ck-list-card:not([data-cfg-paper="true"]):not([data-style="split"]) .ck-hd-wrap .ck-hd, [data-cfg-plainhd="true"].ck-form-card .ck-hd-wrap .ck-hd, [data-cfg-plainhd="true"].ck-blank-card .ck-hd-wrap .ck-hd, .ck-list-card[data-style="split"] .ck-hd-wrap .ck-hd, .ck-mini-card[data-style="slide"] .ck-hd-wrap .ck-hd, .ck-box-card[data-cfg-plain="true"] .ck-hd-wrap .ck-hd {
  padding: 0 15px 0 5px;
  background-origin: content-box;
  color: #8e8e8e;
}
[data-cfg-plainhd="true"].ck-box-card:not([data-cfg-paper="true"]) .ck-hd-wrap .ck-hdopt-wrap, [data-cfg-plainhd="true"].ck-list-card:not([data-cfg-paper="true"]):not([data-style="split"]) .ck-hd-wrap .ck-hdopt-wrap, [data-cfg-plainhd="true"].ck-form-card .ck-hd-wrap .ck-hdopt-wrap, [data-cfg-plainhd="true"].ck-blank-card .ck-hd-wrap .ck-hdopt-wrap, .ck-list-card[data-style="split"] .ck-hd-wrap .ck-hdopt-wrap, .ck-mini-card[data-style="slide"] .ck-hd-wrap .ck-hdopt-wrap, .ck-box-card[data-cfg-plain="true"] .ck-hd-wrap .ck-hdopt-wrap {
  bottom: -5px;
  background: #f2f2f2;
}
[data-cfg-plainhd="true"].ck-box-card:not([data-cfg-paper="true"]) .ck-hd-wrap .ck-link-mask, [data-cfg-plainhd="true"].ck-list-card:not([data-cfg-paper="true"]):not([data-style="split"]) .ck-hd-wrap .ck-link-mask, [data-cfg-plainhd="true"].ck-form-card .ck-hd-wrap .ck-link-mask, [data-cfg-plainhd="true"].ck-blank-card .ck-hd-wrap .ck-link-mask, .ck-list-card[data-style="split"] .ck-hd-wrap .ck-link-mask, .ck-mini-card[data-style="slide"] .ck-hd-wrap .ck-link-mask, .ck-box-card[data-cfg-plain="true"] .ck-hd-wrap .ck-link-mask {
  padding: 0;
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.ck-box-card[data-cfg-plain="true"] .ck-card-wrap {
  padding: 0;
  background: none;
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.ck-box-card[data-cfg-plain="true"] .ck-card-wrap > footer {
  padding: 10px 0 0 5px;
  margin-top: 15px;
  margin-left: 0;
  margin-right: 0;
  border-color: #e6e6e6;
}
.ck-box-card[data-cfg-plain="true"] .ck-card-wrap > section {
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0;
  border-color: #e6e6e6;
}
.ck-box-card[data-cfg-plain="true"] .ck-card-wrap > section:first-child {
  border-top: 1px solid #e6e6e6;
}
.ck-box-card[data-cfg-plain="true"] .ck-card-wrap > section:last-child {
  padding-bottom: 0;
}
.ck-box-card[data-cfg-plain="true"] .ck-card-wrap:first-child > section {
  padding-top: 0;
  padding-bottom: 0;
  border-top: 0;
}
.ck-box-card[data-cfg-plain="true"] .ck-hd-wrap {
  padding: 0;
  margin: 10px 0;
}

.ck-box-card[data-cfg-paper="true"], .ck-list-card[data-cfg-paper="true"] {
  margin: 15px;
  word-wrap: break-word;
}
.ck-box-card[data-cfg-paper="true"] .ck-card-wrap, .ck-list-card[data-cfg-paper="true"] .ck-card-wrap {
  padding: 0 0 10px 0;
  border-bottom: 1px solid #e6e6e6;
}
.ck-box-card[data-cfg-paper="true"] .ck-hd-wrap, .ck-list-card[data-cfg-paper="true"] .ck-hd-wrap {
  line-height: 1.6;
  margin-bottom: 10px;
  position: relative;
}
.ck-box-card[data-cfg-paper="true"] .ck-hd-wrap .ck-hd, .ck-list-card[data-cfg-paper="true"] .ck-hd-wrap .ck-hd {
  font-size: 20px;
  line-height: 1.4;
  font-weight: bold;
}
.ck-box-card[data-cfg-paper="true"] .ck-hd-wrap:last-child, .ck-list-card[data-cfg-paper="true"] .ck-hd-wrap:last-child {
  margin-bottom: 0;
}
.ck-box-card[data-cfg-paper="true"] .ck-hdopt-wrap, .ck-list-card[data-cfg-paper="true"] .ck-hdopt-wrap {
  bottom: -4px;
  background: #f2f2f2;
}
.ck-box-card[data-cfg-paper="true"] .ck-card-wrap > footer, .ck-list-card[data-cfg-paper="true"] .ck-card-wrap > footer {
  border-color: #e6e6e6;
}
.ck-box-card[data-cfg-paper="true"] .ck-item, .ck-list-card[data-cfg-paper="true"] .ck-item,
.ck-box-card[data-cfg-paper="true"] .ck-card-wrap > section,
.ck-list-card[data-cfg-paper="true"] .ck-card-wrap > section {
  margin: 0;
}
.ck-box-card[data-cfg-paper="true"] .ck-card-wrap > section, .ck-list-card[data-cfg-paper="true"] .ck-card-wrap > section {
  border-color: #e6e6e6;
  padding: 40px 0 10px 0;
  font-size: 17px;
  -moz-user-select: text;
  -ms-user-select: text;
  -webkit-user-select: text;
  user-select: text;
}
.ck-box-card[data-cfg-paper="true"] .ck-card-wrap > section p, .ck-list-card[data-cfg-paper="true"] .ck-card-wrap > section p {
  margin: 0 0 25px 0;
}
.ck-box-card[data-cfg-paper="true"] .ck-card-wrap > section:first-child, .ck-list-card[data-cfg-paper="true"] .ck-card-wrap > section:first-child {
  border-top: 0;
  padding: 0;
}
.ck-box-card[data-cfg-paper="true"] .ck-item, .ck-list-card[data-cfg-paper="true"] .ck-item {
  padding: 10px 0;
  border-bottom: 1px solid #e6e6e6;
}
.ck-box-card[data-cfg-paper="true"] .ck-item:last-child, .ck-list-card[data-cfg-paper="true"] .ck-item:last-child {
  margin-bottom: 15px;
}
.ck-box-card[data-cfg-paper="true"] .ck-initem, .ck-list-card[data-cfg-paper="true"] .ck-initem {
  padding: 0;
}

.ck-link-mask {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 7.5px;
  -moz-transform: translateX(-7.5px);
  -ms-transform: translateX(-7.5px);
  -o-transform: translateX(-7.5px);
  -webkit-transform: translateX(-7.5px);
  transform: translateX(-7.5px);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  -webkit-tap-highlight-color: rgba(0, 119, 220, 0.2);
}

.ck-card-wrap {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}
body.no-overflowscroll .ck-card-wrap {
  -webkit-overflow-scrolling: auto;
  overflow: visible;
}

.ck-hdopt-wrap {
  display: inline-block;
  position: absolute;
  bottom: 4px;
  right: 0;
  z-index: 110;
  font-size: 13px;
  line-height: 31px;
  height: 31px;
  background: #fff;
}
.ck-hdopt-wrap .ck-hdopt {
  margin: 0 0 0 5px;
  position: relative;
}

.ck-box-card:not([data-cfg-paper="true"]) .ck-hd-wrap {
  border-bottom: 0;
}
.ck-box-card .ck-card-wrap > section {
  border-top: 1px solid #efefef;
  margin: 0 15px;
  padding: 15px 0;
  font-size: 13px;
}
.ck-box-card .ck-card-wrap > section img {
  max-width: 100%;
  margin: 5px auto;
  display: block;
}
.ck-box-card .ck-card-wrap > section:first-child {
  border-top: 0;
}

.ck-list-card .ck-list-wrap, .ck-mini-card .ck-list-wrap {
  overflow: hidden;
}
.ck-list-card .ck-item.blank, .ck-mini-card .ck-item.blank {
  text-align: center;
}
.ck-list-card .ck-item.blank .ck-initem, .ck-mini-card .ck-item.blank .ck-initem {
  background: none;
  padding: 10px 0;
  color: #8e8e8e;
}
.ck-list-card .ck-initem, .ck-mini-card .ck-initem {
  position: relative;
  font-size: 11px;
  padding: 5px 0;
  color: #252525;
  display: block;
}
.ck-list-card .ck-title-box, .ck-mini-card .ck-title-box {
  display: block;
  overflow: hidden;
}
.ck-list-card .ck-author-box, .ck-mini-card .ck-author-box {
  display: block;
  overflow: hidden;
  margin: 4px 0 0 0;
}
.ck-list-card .ck-avatar, .ck-mini-card .ck-avatar,
.ck-list-card .ck-icon,
.ck-mini-card .ck-icon {
  float: left;
  margin: 2px 10px 0 0;
}
.ck-list-card .ck-avatar img, .ck-mini-card .ck-avatar img,
.ck-list-card .ck-icon img,
.ck-mini-card .ck-icon img {
  width: 30px;
  min-height: 30px;
  background: #666;
  float: left;
}
.ck-list-card .ck-author-set, .ck-mini-card .ck-author-set,
.ck-list-card .ck-title-set,
.ck-mini-card .ck-title-set {
  display: block;
  overflow: hidden;
  position: relative;
}
.ck-list-card .ck-opt, .ck-mini-card .ck-opt {
  float: right;
  width: 40px;
  margin: 2px 0 0 10px;
  position: relative;
  z-index: 110;
}
.ck-list-card .ck-author-info-wrap, .ck-mini-card .ck-author-info-wrap,
.ck-list-card .ck-info-wrap,
.ck-mini-card .ck-info-wrap {
  display: inline;
  position: absolute;
  bottom: 0;
  right: 0;
}
.ck-list-card .ck-author-info, .ck-mini-card .ck-author-info,
.ck-list-card .ck-info,
.ck-mini-card .ck-info {
  display: inline;
}
.ck-list-card .ck-title-line, .ck-mini-card .ck-title-line {
  font-size: 13px;
  line-height: 1.2;
  display: block;
  margin: 0 0 4px 0;
}
.ck-list-card .ck-author-line, .ck-mini-card .ck-author-line {
  line-height: 1.2;
  display: block;
  margin: 0 0 4px 0;
}
.ck-list-card a.ck-avatar img, .ck-mini-card a.ck-avatar img,
.ck-list-card a.ck-author,
.ck-mini-card a.ck-author {
  position: relative;
  z-index: 110;
}
.ck-list-card .ck-title-prefix, .ck-mini-card .ck-title-prefix,
.ck-list-card .ck-title-suffix,
.ck-mini-card .ck-title-suffix,
.ck-list-card .ck-title,
.ck-mini-card .ck-title,
.ck-list-card .ck-author-prefix,
.ck-mini-card .ck-author-prefix,
.ck-list-card .ck-author-suffix,
.ck-mini-card .ck-author-suffix,
.ck-list-card .ck-author,
.ck-mini-card .ck-author {
  display: inline;
  margin: 0 3px 0 0;
}
.ck-list-card .ck-title-prefix, .ck-mini-card .ck-title-prefix,
.ck-list-card .ck-title-suffix,
.ck-mini-card .ck-title-suffix,
.ck-list-card .ck-author-prefix,
.ck-mini-card .ck-author-prefix,
.ck-list-card .ck-author-suffix,
.ck-mini-card .ck-author-suffix {
  color: #8e8e8e;
}
.ck-list-card .ck-title-tag, .ck-mini-card .ck-title-tag {
  display: inline-block;
  font-size: 11px;
  background: #ffc;
  padding: 0px 2px;
  margin: 0 3px 0 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.ck-list-card .ck-desc-wrap, .ck-mini-card .ck-desc-wrap,
.ck-list-card .ck-author-desc-wrap,
.ck-mini-card .ck-author-desc-wrap {
  display: block;
  line-height: 1.2;
  margin: 0 0 4px 0;
}
.ck-list-card .ck-desc, .ck-mini-card .ck-desc,
.ck-list-card .ck-author-desc,
.ck-mini-card .ck-author-desc {
  display: inline;
  margin: 0 3px 0 0;
}
.ck-list-card .ck-content-wrap, .ck-mini-card .ck-content-wrap,
.ck-list-card .ck-author-content-wrap,
.ck-mini-card .ck-author-content-wrap {
  font-size: 13px;
  display: block;
  line-height: 1.4;
  margin: 0 0 4px 0;
  -moz-user-select: text;
  -ms-user-select: text;
  -webkit-user-select: text;
  user-select: text;
}
.ck-list-card .ck-content-wrap img, .ck-mini-card .ck-content-wrap img,
.ck-list-card .ck-author-content-wrap img,
.ck-mini-card .ck-author-content-wrap img {
  max-width: 100%;
  margin: 5px auto;
  display: block;
}
.ck-list-card .ck-meta, .ck-mini-card .ck-meta,
.ck-list-card .ck-author-meta,
.ck-mini-card .ck-author-meta {
  display: inline;
  margin: 0 3px 0 0;
}

.ck-list-card:not([data-cfg-paper="true"]):not([data-style="split"]) .ck-item:last-child {
  border: none;
}
.ck-list-card[data-style="more"] .ck-author-box,
.ck-list-card[data-style="more"] .ck-meta-wrap,
.ck-list-card[data-style="more"] .ck-content-wrap, .ck-list-card[data-style="menu"] .ck-author-box,
.ck-list-card[data-style="menu"] .ck-meta-wrap,
.ck-list-card[data-style="menu"] .ck-content-wrap {
  display: none;
}
.ck-list-card[data-style="more"] .ck-icon,
.ck-list-card[data-style="more"] .ck-desc-wrap,
.ck-list-card[data-style="more"] .ck-opt,
.ck-list-card[data-style="more"] .ck-info-wrap {
  display: none;
}
.ck-list-card[data-style="more"] .ck-title-line {
  font-size: 15px;
  padding-right: 10px;
}
.ck-list-card[data-style="more"] .ck-title {
  font-weight: bold;
  color: #252525;
}
.ck-list-card[data-style="grid"] .ck-author-box,
.ck-list-card[data-style="grid"] .ck-opt,
.ck-list-card[data-style="grid"] .ck-info-wrap,
.ck-list-card[data-style="grid"] .ck-meta-wrap,
.ck-list-card[data-style="grid"] .ck-content-wrap {
  display: none;
}
.ck-list-card[data-style="grid"] .ck-list {
  overflow: hidden;
  margin: 0 15px;
  padding: 10px 0;
  border-bottom: 1px solid #efefef;
}
.ck-list-card[data-style="grid"] .ck-list:last-child {
  border-bottom: none;
}
.ck-list-card[data-style="grid"] .ck-list .ck-item {
  float: left;
  padding: 0;
  margin: 0;
  border: none;
  text-align: center;
}
.ck-list-card[data-style="grid"] .ck-list .ck-icon,
.ck-list-card[data-style="grid"] .ck-list .ck-icon img {
  float: none;
  margin: 0;
}
.ck-list-card[data-style="grid"] .ck-list .ck-title-line {
  padding: 0;
}
.ck-list-card[data-style="grid"] .ck-list .ck-desc-wrap {
  padding: 5px 0 0 0;
}
.ck-list-card[data-style="grid"] footer {
  border-top: none;
}
.ck-list-card[data-style="grid"] .ck-initem {
  margin: 0;
  padding: 0 5px;
}
.ck-list-card[data-style="grid"] .ck-link-mask {
  padding: 5px 0;
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.ck-list-card[data-style="split"] {
  margin: 10px 0;
}
.ck-list-card[data-style="split"] .ck-hd-wrap {
  margin-left: 10px;
  margin-right: 10px;
}
.ck-list-card[data-style="split"] .ck-card-wrap > footer {
  padding-top: 0;
}
.ck-list-card[data-style="split"] .ck-item {
  margin: 10px;
  padding: 5px 0;
}
.ck-list-card[data-style="split"] .ck-item:first-child {
  margin-top: 0;
}
.ck-list-card[data-style="split"] .ck-initem {
  border: none;
}
.ck-list-card[data-style="split"] .ck-title {
  font-weight: bold;
}
.ck-list-card[data-style="split"] .ck-author-box {
  padding: 10px 0 0 0;
  margin-top: 10px;
  border-top: 1px solid #efefef;
}
.ck-list-card[data-cfg-paper="true"] {
  margin-left: 0;
  margin-right: 0;
}
.ck-list-card[data-cfg-paper="true"] .ck-card-wrap {
  padding-bottom: 0;
  border-bottom: none;
}
.ck-list-card[data-cfg-paper="true"] .ck-card-wrap > footer,
.ck-list-card[data-cfg-paper="true"] .ck-hd-wrap,
.ck-list-card[data-cfg-paper="true"] .ck-list {
  margin-left: 15px;
  margin-right: 15px;
}
.ck-list-card[data-cfg-plain="true"] {
  display: none;
}

.ck-mini-card {
  margin: 20px 0;
}
.ck-mini-card[data-style="slide"] .ck-hd-wrap {
  margin-left: 10px;
  margin-right: 10px;
}
.ck-mini-card[data-style="slide"] .ck-card-wrap.slide {
  overflow: hidden;
}
.ck-mini-card[data-style="slide"] .ck-card-wrap.slide .ck-list-wrap {
  overflow-x: scroll;
  margin-bottom: -8px;
}
.ck-mini-card[data-style="slide"] .ck-card-wrap.slide .ck-list-wrap .ck-list {
  width: 5000px;
  padding: 0 0 10px 0;
  overflow: hidden;
}
.ck-mini-card[data-style="slide"] .ck-card-wrap.slide .ck-list-wrap .ck-item {
  padding: 5px 0;
  margin: 0 0 0 10px;
  float: left;
}
.ck-mini-card[data-style="slide"] .ck-list-wrap {
  -webkit-overflow-scrolling: touch;
}
body.no-overflowscroll .ck-mini-card[data-style="slide"] .ck-list-wrap {
  -webkit-overflow-scrolling: auto;
}
.ck-mini-card[data-style="slide"] .ck-list-wrap.stop-scroll {
  -webkit-overflow-scrolling: auto;
}
.ck-mini-card[data-style="slide"] .ck-item {
  margin: 0 10px 3px 10px;
}
.ck-mini-card[data-style="slide"] .ck-initem {
  border: none;
}
.ck-mini-card[data-style="slide"] .ck-title {
  font-weight: bold;
}
.ck-mini-card[data-style="slide"] .ck-author-box {
  padding: 10px 0 0 0;
  border-top: 1px solid #efefef;
}
.ck-mini-card[data-cfg-plain="true"] {
  display: none;
}

.ck-form-card .ck-item {
  padding: 10px 0;
  display: block;
}
.ck-form-card .ck-item:first-child {
  padding-top: 15px;
}
.ck-form-card .ck-item:last-child {
  border: none;
  padding-bottom: 15px;
}
.ck-form-card .ck-item.blank {
  text-align: center;
  color: #8e8e8e;
}
.ck-form-card .ck-item .ck-folder,
.ck-form-card .ck-item p {
  margin: 10px 0;
}
.ck-form-card .ck-item .ck-folder:first-child,
.ck-form-card .ck-item p:first-child {
  margin-top: 0;
}
.ck-form-card .ck-item .ck-folder:last-child,
.ck-form-card .ck-item p:last-child {
  margin-bottom: 0;
}
.ck-form-card .ck-item label {
  font-size: 15px;
}
.ck-form-card .ck-item label em {
  color: #8e8e8e;
  font-size: 13px;
  margin: 0 0 0 5px;
}
.ck-form-card .ck-item label em:first-child {
  margin-left: 0;
}
.ck-form-card .ck-item .ck-title {
  display: block;
  line-height: 15px;
  margin: 0 0 10px 0;
}
.ck-form-card .ck-item input[type="text"],
.ck-form-card .ck-item input[type="number"],
.ck-form-card .ck-item input[type="password"],
.ck-form-card .ck-item textarea {
  font-size: 13px;
  color: #252525;
  width: 100%;
  line-height: 20px;
  height: 40px;
  padding: 10px;
  border: 1px solid #b9b9b9;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-user-select: text;
  -ms-user-select: text;
  -webkit-user-select: text;
  user-select: text;
}
.ck-form-card .ck-item input[type="number"] {
  width: 80px;
}
.ck-form-card .ck-item textarea {
  height: 176px;
}

.ck-banner-card .ck-card-wrap {
  font-size: 13px;
  background: #fff;
  padding: 5px;
  padding-top: 47.5px;
  position: relative;
  bottom: -3px;
}
.ck-banner-card .ck-card-wrap.empty {
  padding: 42.5px 0 0 0;
  background: #f2f2f2;
}
body.fullscreen-mode .ck-banner-card .ck-card-wrap {
  padding-top: 5px;
  bottom: 0;
}
body:not(.no-cardscroll):not(.no-overflowscroll) .ck-banner-card {
  position: relative;
  background: #666666;
  padding-top: 597px;
  -moz-transform: translateY(-600px);
  -ms-transform: translateY(-600px);
  -o-transform: translateY(-600px);
  -webkit-transform: translateY(-600px);
  transform: translateY(-600px);
  margin-bottom: -590px;
  -moz-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.35);
}
body:not(.no-cardscroll):not(.no-overflowscroll) .ck-banner-card .ck-card-wrap:not(.empty) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
body:not(.no-cardscroll):not(.no-overflowscroll) .ck-banner-card .ck-top-tips {
  top: 600px;
}

.ck-blank-card .ck-card-wrap > div {
  padding: 10px 0;
  display: block;
  border: none;
  text-align: center;
  font-size: 15px;
}
